.App {

	background-image:url('./background.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
	display:block;
	width:350vw;
	height: 350vh;
	overflow:hidden;
	
	
}
.selectBox{
	border:solid rgb(0, 255, 0) 2px;
	position:absolute;
    display:block;
	
}
.Selected.Building{
	box-shadow: 0 9px 5px 15px rgb(0,255,0);
	overflow:visible;
}
.Selected.Worker{
	box-shadow: 0 2px 2px 2px rgb(0,255,0) inset;
	overflow:visible;
}

.Selected.Fighter{
	box-shadow: 0 2px 2px 2px rgb(0,255,0) inset;
	overflow:visible;
}