
.left{
	position:fixed;
	top:2.5%;
	left:0;
	height:95%;
	width:.9%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}
.upleft{
	position:fixed;
	top:0;
	left:0;
	height:2.5%;
	width:2.5%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}
.downleft{
	position:fixed;
	bottom:0;
	left:0;
	height:2.5%;
	width:2.5%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}

.right{
	position:fixed;
	top:2.5%;
	right:0;
	height:97.5%;
	width: 2%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}
.upright{
	position:fixed;
	right:0;
	top:0;
	height:2.5%;
	width:2.5%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}
.downright{
	position:fixed;
	bottom:0;
	right:0;
	height:2.5%;
	width:2.5%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}
.up{
	position:fixed;
	left:2.5%;
	top:0;
	height: 2.5%;
	width:97.5%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}
.down{
	position:fixed;
	bottom:0;
	left:2.5%;
	width:95%;
	height:2.5%;
	background-color: rgba(0, 0, 0, 0);
	cursor: move; 
}